# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv-1/

# --- IDEs (VS Code) ---
.vscode/
.history/

# --- Proyecto YOLO / Datos ---
# Ignoramos los resultados de las predicciones para no llenar el repo
predict/results/
runs/

# Ignoramos las imágenes de prueba locales
data/test_images/

# --- Sistema ---
Thumbs.db
.DS_Store
